meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Cliente
meta(meta name="description" content="Este componente formativo, abarca el conocimiento sobre la diversidad de cliente que debe atender toda organización y que requiere de un seguimiento planificado y concatenado, iniciando lógicamente este proceso desde el cliente interno quien es el encargado de vender a los clientes externos los beneficios de un producto o servicio y generar confianza, siendo el objetivo principal utilizar estrategias para garantizar su fidelidad y permanencia.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")