h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li
                span Cód. 001 – Prestar servicio al cliente teniendo en cuenta políticas de la organización